<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_9" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>Aseguramiento de Ingresos</display-name>

	<!-- Tiles -->
	<context-param>
		<param-name>
			org.apache.tiles.impl.BasicTilesContainer.DEFINITIONS_CONFIG</param-name>
		<param-value>/WEB-INF/tiles.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.apache.struts2.tiles.StrutsTilesListener</listener-class>
	</listener>
	<!-- Filtros struts 2 -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<!-- Servlet de configuracion para log4j -->  
	<servlet>
		<servlet-name>log4j-init</servlet-name>
		<servlet-class>com.maxcom.ai.log.Log4jInitServlet</servlet-class>
		<init-param>
			<param-name>log4j-init-file</param-name>
			<param-value>WEB-INF/classes/log4jconfig.properties</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<error-page>
    	<error-code>500</error-code>
    	<location>/error.jsp</location>
	</error-page>

	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Pagina de Bienvenida -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<!-- Configuracion de sesion -->
	<session-config>
		<session-timeout>1200</session-timeout> <!-- 600seconds = 20 mins -->
	</session-config>
	
	

</web-app>
